name: Publish to PyPI

on:
  release:
    types: [published] # 监听 GitHub Release 发布事件

jobs:
  pypi-publish:
    name: Build & Publish Release to PyPI
    runs-on: ubuntu-latest
    
    # 获取 OIDC Token 的必要权限，用于免密认证 PyPI
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Checkout target repository
        uses: actions/checkout@v4
      
      # 使用官方 action 安装最新版的 uv
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5

      # 使用 uv 构建发版文件 (生成 .tar.gz 源码包和 .whl 二进制包)
      - name: Build package
        run: uv build

      # 使用 PyPA 官方 action 发布到 PyPI
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
